VITE_FIREBASE_API_KEY=AIzaSyCYH5CK9qm0ZGQsRYqbUjp9Byf-buTFmzI
VITE_FIREBASE_AUTH_DOMAIN=manhal-3e2e0.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=manhal-3e2e0
VITE_FIREBASE_STORAGE_BUCKET=manhal-3e2e0.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=94583811340
VITE_FIREBASE_APP_ID=1:94583811340:web:297cbfb4e4c76ceeb7ad29
